.Currency_base_57 {
    display: flex;
    align-items: flex-end;
    position: relative;
}

    .Currency_base__insufficient_34 {
        color: #ed2415;
    }
.Currency_icon_c5 {
    width: 16rem;
    height: 16rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.Currency_icon__credits-small_9b {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
        transform: translateY(3rem);
    }
.Currency_icon__credits-large_ac {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_silver');
        transform: translateY(8rem);
    }
.Currency_icon__credits-big_96 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
        transform: translateY(-1rem);
    }
.Currency_icon__gold-small_86 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
        transform: translateY(2rem);
    }
.Currency_icon__gold-big_15 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
        transform: translateY(-1rem);
    }
.Currency_icon__gold-large_36 {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_gold');
        transform: translateY(8rem);
    }
.Currency_icon__crystal-small_27 {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
        transform: translateY(2rem);
    }
.Currency_icon__crystal-big_cd {
        width: 23rem;
        height: 22rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
        transform: translateY(2rem);
    }
.Currency_icon__crystal-large_d3 {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_bonds');
        transform: translateY(8rem);
    }
.Currency_icon__xp-small_a7 {
        width: 16rem;
        height: 16rem;
        background-image: url('R.images.gui.maps.icons.library.NormalXpIcon');
        transform: translateY(2rem);
    }
.Currency_icon__xp-big_97 {
        width: 23rem;
        height: 22rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.xpIcon_23x22');
        transform: translateY(1rem);
    }
.Currency_icon__xp-large_6b {
        width: 48rem;
        height: 48rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.exp');
        transform: translateY(8rem);
    }
.Currency_icon__freeXp-small_63 {
        background-image: url('R.images.gui.maps.icons.library.freeXPIcon16x16');
        transform: translateY(2rem);
    }
.Currency_icon__freeXp-big_5f {
        width: 24rem;
        height: 24rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.freeXPIconBig24x24');
        transform: translateY(3rem);
    }
.Currency_icon__freeXp-large_3d {
        width: 48rem;
        height: 48rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.freeExp');
        transform: translateY(8rem);
    }
.Currency_value_e1 {
    position: relative;
    z-index: 2;
}
.Currency_value__small_e9 {
        padding-right: 2rem;
    }
.Currency_value__big_d4 {
        padding-right: 5rem;
        font-size: 24rem;
        font-weight: 700;
    }
.Currency_value__large_85 {
        font-size: 36rem;
        font-weight: 700;
    }
.Currency_value__freeXp_e3 {
        color: #F2F2F7;
    }
.Currency_value__xp_b0,
    .Currency_value__credits_76 {
        color: #CED9D9;
    }
.Currency_value__gold_dd {
        color: #FFC363;
    }
.Currency_value__crystal_19 {
        color: #C9C9B6;
    }
.Currency_value__notEnough_56.Currency_value__small_e9 {
            color: #FF2717;
        }
.Currency_value__notEnough_56.Currency_value__big_d4 {
            color: #B70000;
        }
.Currency_stock_87 {
    height: 13rem;
    color: #fd9;
    font-size: 13rem;
    line-height: 1;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.Currency_stock__indent_a1 {
        margin-left: 3rem;
    }
.Currency_stock__sizeBig_b5 {
        transform: translateY(-1rem);
    }
.Currency_stock__sizeLarge_0c {
        transform: translateY(-2rem);
    }
.Currency_stock__interactive_93 {
        pointer-events: auto;
    }
.Currency_stockBackground_82 {
    width: 80rem;
    height: 45rem;
    background-image: url('R.images.gui.maps.icons.library.RedActionBG');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 6rem;
    right: -27rem;
    z-index: -1;
    transform: translateY(-47%);
}

.Price_base_61 {
    display: flex;
    position: relative;
}

.Price_price_1b {
    display: flex;
}

.Price_price__discount_29 {
        padding-right: 20rem;
    }

