.BattleRewardItem_base_cd {
    color: #F2F2F7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    align-items: center;
    position: relative;
}

.BattleRewardItem_image_6c {
    width: 48rem;
    height: 48rem;
    background: no-repeat center / contain;
}

.BattleRewardItem_base__crystal_94 .BattleRewardItem_image_6c,
    .BattleRewardItem_base__xp_e6 .BattleRewardItem_image_6c,
    .BattleRewardItem_base__credits_c4 .BattleRewardItem_image_6c {
        margin-top: 2rem;
    }

.BattleRewardItem_base__progression_93 .BattleRewardItem_image_6c {
        margin-top: 3rem;
    }

.BattleRewardList_base_24 {
    display: flex;
}

