
Armored Warfare/Wrath of the Gods/WWISE/wwise_project_1.4.1_en/Originals/SFX/star_trek_music_compilation.akd
Armored Warfare/Wrath of the Gods/WWISE/wwise_project_1.4.1_en/Originals/SFX/star_trek_music_compilation.wav
