.BlackMarketTimer_base_7f {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 517rem;
    height: 168rem;
    padding-bottom: 68rem;
    background: url('R.images.gui.maps.icons.bm2021.shared.timer_bg') no-repeat center / contain;
}

    .BlackMarketTimer_base__exceeded_9f {
        padding-bottom: 74rem;
    }

.BlackMarketTimer_bg_d7 {
    background: url('R.images.gui.maps.icons.bm2021.shared.timer_bg_light') no-repeat center / contain;
    mix-blend-mode: additive;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.BlackMarketTimer_wrapper_58 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BlackMarketTimer_title_15 {
    display: flex;
    position: relative;
}

.BlackMarketTimer_titleIcon_3b {
    width: 37rem;
    height: 37rem;
    background: url('R.images.gui.maps.icons.bm2021.shared.timer_icon') no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 0;
}

.BlackMarketTimer_titleText_bb {
    color: #FFDD99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    height: 37rem;
    padding-left: 32rem;
    padding-right: 14rem;
}

.BlackMarketTimer_exceededCaption_74 {
    color: #FFFFFF;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.BlackMarketTimer_countDown_32 {
    color: #FFFFFF;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    margin-top: -13rem;
}

.BlackMarketTimer_countDownValue_e2 {
    width: 36rem;
    overflow: hidden;
}

.BlackMarketTimer_countDownDelimiter_88 {
    padding: 0 7rem;
    color: rgba(255,255,255, .5);
    position: relative;
    top: -2rem;
}

