.FinalLevel_level_49 {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: -12rem;
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 102rem;
    text-align: center;
}

.FinalLevel_levelLabel_04 {
    margin-bottom: 35rem;
    color: #e9e2bf;
    font-size: 16rem;
    line-height: 20rem;
}

