@keyframes BobRewardIcon_fadeOut_31 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes BobRewardIcon_fadeIn_48 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes BobRewardIcon_fadeInWithScale_e6 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes BobRewardIcon_slideUp_f2 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes BobRewardIcon_scale_48 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes BobRewardIcon_raysAppearance_91 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: .2;
        transform: translateY(0);
    }
}
@keyframes BobRewardIcon_rotate_94 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.BobRewardIcon_base_61 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.BobRewardIcon_image_f4 {
    background: no-repeat center / contain;
    position: relative;
}
.BobRewardIcon_image__personal_82 {
        width: 400rem;
        height: 300rem;
    }
.BobRewardIcon_base__small_c4 .BobRewardIcon_image__personal_82 {
            width: 320rem;
            height: 230rem;
        }
.BobRewardIcon_image__team_68 {
        width: 600rem;
        height: 450rem;
    }
.BobRewardIcon_base__small_c4 .BobRewardIcon_image__team_68 {
            width: 400rem;
            height: 300rem;
        }
.BobRewardIcon_amount_1a {
    opacity: 0;
    animation-name: BobRewardIcon_fadeIn_48;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.07, .82, .17, 1);
    animation-delay: .8s;
    animation-iteration-count: 1;
    color: #CED9D9;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    font-weight: 400;
    position: absolute;
    top: 75%;
    right: 15%;
}
.BobRewardIcon_amount__team_24 {
        top: 85%;
    }
.BobRewardIcon_amountVal_8b {
    margin-left: -5rem;
}

.BobRewardLabel_base_6b {
    padding: 0 60rem;
    color: #E9E2BF;
    font-size: 16rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.VehicleReward_label_c0 {
    color: #E9E2BF;
    font-size: 16rem;
    font-weight: 400;
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.VehicleReward_vehicle_44 {
    color: #FFC363;
}

@keyframes BobRewards_fadeOut_6a {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes BobRewards_fadeIn_45 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes BobRewards_fadeInWithScale_79 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes BobRewards_slideUp_dc {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes BobRewards_scale_e6 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes BobRewards_raysAppearance_67 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: .2;
        transform: translateY(0);
    }
}
@keyframes BobRewards_rotate_7d {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.BobRewards_base_37 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.BobRewards_rewardWrapper_d2 {
    opacity: 0;
    animation-name: BobRewards_fadeInWithScale_79;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.07, .82, .17, 1);
    animation-delay: .6s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400rem;
    height: 300rem;
    margin-bottom: 25rem;
    position: relative;
}
.BobRewards_base__small_5b .BobRewards_rewardWrapper_d2 {
        width: 320rem;
        height: 230rem;
        margin-left: -20rem;
        margin-right: -20rem;
    }
.BobRewards_rewardWrapper__team_74 {
        width: 600rem;
        height: 450rem;
        margin-left: -80rem;
        margin-right: -80rem;
    }
.BobRewards_base__small_5b .BobRewards_rewardWrapper__team_74 {
            width: 400rem;
            height: 300rem;
            margin-left: -40rem;
            margin-right: -40rem;
        }

