.VehicleTitle_base_a4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.VehicleTitle_heading_a8 {
    flex: 0 0 auto;
}

.VehicleTitle_heading__name_95 {
        flex: 0 1 auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

.VehicleTitle_base__original_f0 .VehicleTitle_heading_a8 {
        color: #FFFFFF;
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
        line-height: 1.2;
    }

.VehicleTitle_base__original_f0 .VehicleTitle_heading__medium_a7,
        .VehicleTitle_base__original_f0 .VehicleTitle_heading__small_3e {
            font-size: 28rem;
        }

.VehicleTitle_base__original_f0 .VehicleTitle_heading__extraSmall_50 {
            font-size: 24rem;
        }

.VehicleTitle_base__reduced_37 .VehicleTitle_heading_a8 {
        color: #FFFFFF;
        font-size: 16rem;
    }

.VehicleTitle_base__reduced_37 .VehicleTitle_heading__extraSmall_50 {
            font-size: 12rem;
        }

.VehicleTitle_type_ee {
    flex: 0 0 auto;
    height: 100%;
    position: relative;
}

.VehicleTitle_base__original_f0 .VehicleTitle_type_ee {
        width: 63rem;
    }

.VehicleTitle_base__reduced_37 .VehicleTitle_type_ee {
        width: 47rem;
    }

.VehicleTitle_base__reduced_37 .VehicleTitle_type__small_2c {
            width: 41rem;
        }

.VehicleTitle_base__reduced_37 .VehicleTitle_type__extraSmall_ee {
            width: 28rem;
        }

.VehicleTitle_typeImage_1a {
    background: no-repeat center / contain;
    position: absolute;
    top: 55%; /* 55% because of Warhelios vertical align*/
    left: 50%;
    transform: translate(-50%, -50%);
}

.VehicleTitle_base__original_f0 .VehicleTitle_typeImage_1a {
        width: 81rem;
        height: 73rem;
    }

.VehicleTitle_base__reduced_37 .VehicleTitle_typeImage_1a {
        width: 67rem;
        height: 60rem;
    }

.VehicleTitle_base__reduced_37 .VehicleTitle_typeImage__small_13 {
            width: 59rem;
            height: 53rem;
        }

.VehicleTitle_base__reduced_37 .VehicleTitle_typeImage__extraSmall_f9 {
            width: 44rem;
            height: 39rem;
        }

