.ScrollArea_base_47 {
    width: 100%;
    min-width: 1rem;
    min-height: 1rem;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

    .ScrollArea_base__scrollIndent_1d.ps--active-y {
        padding-right: 13rem;
    }

    .ScrollArea_base__scrollIndent_1d.ps--active-х {
        padding-bottom: 13rem;
    }

    .ScrollArea_base__verticalScrollbarMargin_50 .ps__rail-y {
                margin: 20rem 0;
                right: 5rem;
            }

    .ScrollArea_base__multiple_44 .ps__rail-y {
                margin-bottom: 30rem;
            }

    .ScrollArea_base__hidden_ec {
        visibility: hidden;
    }
.ps--scrolling-dragging {
        cursor: move;
    }
.ps__rail-x, .ps__thumb-x {
        height: 13rem;
        position: absolute;
    }
.ps__rail-y, .ps__thumb-y {
        width: 13rem;
        position: absolute;
    }
.ps__thumb-x, .ps__button-start-x, .ps__button-end-x, .ps__thumb-y, .ps__button-start-y, .ps__button-end-y {
        border: 1rem solid #7e7b68;
        box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
        opacity: .7;
    }
.ps__thumb-x:hover, .ps__button-start-x:hover, .ps__button-end-x:hover, .ps__thumb-y:hover, .ps__button-start-y:hover, .ps__button-end-y:hover {
            opacity: 1;
        }
.ps__thumb-x, .ps__button-start-x, .ps__button-end-x {
        bottom: -6rem;
    }
.ps__thumb-y, .ps__button-start-y, .ps__button-end-y {
        right: -6rem;
    }
.ps__rail-x {
        display: none;
        margin: 0 15rem;
        border-top: 6rem solid transparent;
        border-bottom: 6rem solid transparent;
        bottom: 0;
        cursor: pointer;
    }
.ps__rail-y {
        display: none;
        margin: 15rem 0;
        border-left: 6rem solid transparent;
        border-right: 6rem solid transparent;
        right: 0;
        cursor: pointer;
    }
.ps__track_x, .ps__track_y {
        background-image: url('R.images.gui.maps.icons.components.scroll_area.background');
        background-size: 1rem;
        position: relative;
    }
.ps__track_x:hover, .ps__track_y:hover {
            opacity: .7;
        }
.ps__track_x {
        width: 100%;
        height: 1rem;
        background-repeat: repeat-x;
        background-position: 50% 0;
    }
.ps__track_y {
        width: 1rem;
        height: 100%;
        background-repeat: repeat-y;
        background-position: 0 50%;
    }
.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
        display: block;
    }
.ps__thumb-x, .ps__thumb-y {
        background: #26241b 50% 50% no-repeat;
        transition: opacity linear .13s;
    }
.ps__thumb-x:active, .ps__thumb-y:active {
            opacity: .7;
        }
.ps__thumb-x {
        min-width: 10rem;
        background-image: url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal');
        background-size: 8rem 7rem;
    }
.ps__thumb-y {
        min-height: 10rem;
        background-image: url('R.images.gui.maps.icons.components.scroll_area.thumb');
        background-size: 7rem 8rem;
    }
.ps__button-start-x, .ps__button-end-x, .ps__button-start-y, .ps__button-end-y {
        width: 13rem;
        height: 13rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 7rem 5rem;
        position: absolute;
    }
.ps__button-start-x.disabled, .ps__button-end-x.disabled, .ps__button-start-y.disabled, .ps__button-end-y.disabled {
            opacity: .3;
            cursor: default;
            pointer-events: none;
        }
.ps__button-start-x, .ps__button-start-y {
        background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
    }
.ps__button-end-x, .ps__button-end-y {
        background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
    }
.ps__button-start-x, .ps__button-end-x {
        transform: rotate(-90deg);
    }
.ps__button-start-x {
        left: -14rem;
    }
.ps__button-end-x {
        right: -14rem;
    }
.ps__button-start-y {
        top: -14rem;
    }
.ps__button-end-y {
        bottom: -14rem;
    }

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .6);
    position: relative;
    cursor: pointer;
}

    /* type*/

    .CButton_base__main_42,
    .CButton_base__primary_7f,
    .CButton_base__primaryGreen_6f,
    .CButton_base__primaryRed_ec,
    .CButton_base__secondary_50 {
        background-size: 100% 100%;
    }

    .CButton_base__main_42 {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_7f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_6f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_ec {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_50 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_ed {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 0 1rem rgba(255,255,255, .15) inset;
        background-image: linear-gradient(0deg, rgba(13, 11, 3, 0) 0%, rgba(13, 11, 3, .04) 27%, rgba(13, 11, 3, 0) 100%);
    }

    /* size*/

    .CButton_base__extraSmall_27 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_df,
    .CButton_base__medium_74 {
        padding: 0 20rem;
    }

    .CButton_base__small_df {
        min-height: 20rem;
    }

    .CButton_base__medium_74 {
        min-height: 31rem;
    }

    /*state*/

    .CButton_base__disabled_d9 {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_7f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_6f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_ec .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_50 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow .16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, .2);
    }
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(180deg, rgba(252,248,235, .25) 0%, rgba(252,248,235, .1) 50%, rgba(255,255,255, 0) 100%);
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
        opacity: 1;
    }
.CButton_base_40:active .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
        box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, .11) inset;
        background-color: rgba(8, 6, 0, .18);
        background-image: none;
    }
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0,0,0, .3) 0%, rgba(0,0,0, .15) 100%);
}
.CButton_base_40:active .CButton_stateHighlightActive_35 {
        opacity: 1;
    }
.CButton_base__disabled_d9:active .CButton_stateHighlightActive_35 {
        opacity: 0;
    }
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, .25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
        opacity: 1;
    }
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: .03em;
    transform: translateY(-5%);
}
.CButton_content_cc[lang=ja],
    .CButton_content_cc[lang=ko],
    .CButton_content_cc[lang=zh_tw],
    .CButton_content_cc[lang=zh_sg],
    .CButton_content_cc[lang=zh_ch],
    .CButton_content_cc[lang=th] {
        font-weight: 400;
    }
/* type*/
.CButton_base__main_42 .CButton_content_cc,
    .CButton_base__primaryRed_ec .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_50 .CButton_content_cc {
        color: rgba(254,254,236, .75);
    }
.CButton_base__primaryGreen_6f .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
/* size*/
.CButton_base__extraSmall_27 .CButton_content_cc {
        font-size: 12rem;
    }
.CButton_base__small_df .CButton_content_cc {
        font-size: 14rem;
    }
.CButton_base__medium_74 .CButton_content_cc {
        font-size: 15rem;
    }
/*state*/
.CButton_base__disabled_d9 .CButton_content_cc {
        opacity: .6;
    }

.Button_base_69 {
    display: flex;
    justify-content: center;
}

.Button_button_dd {
    min-width: 150rem;
}

.Button_label_32 {
    display: flex;
}

.Button_externalLink_03 {
    width: 16rem;
    height: 16rem;
    margin-left: 5rem;
    margin-top: 2rem;
    background: url('R.images.gui.maps.icons.new_year.info.external_link') center / cover no-repeat;
}

.App_base_68 {
    width: 100%;
    height: 100%;
    padding: 140rem 0 35rem;
    background: url('R.images.gui.maps.icons.new_year.info.background.main') center / cover no-repeat;
    background-color: #051234;
}
.App_scrollContainer_6d {
    display: flex;
    justify-content: center;
    position: relative;
}
.App_contentOuter_bd {
    display: flex;
    justify-content: center;
    width: 1182rem;
    overflow: hidden;
}
.App_contentInner_7d {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960rem;
}
.App_videoCover_3d,
.App_container_c7 {
    width: 100%;
    position: relative;
}
.App_container_c7 {
    margin-top: 90rem;
}
.App_confetti_ea {
    width: 1182rem;
    height: 700rem;
    background: center / contain no-repeat;
    position: absolute;
    left: -111rem;
    z-index: -1;
}
.App_confetti__1_75 {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti1');
            top: -100rem;
        }
.App_confetti__2_af {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti2');
            top: -380rem;
        }
.App_confetti__3_e8 {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti3');
            top: -380rem;
        }
.App_confetti__4_d0 {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti4');
            top: -330rem;
        }
.App_confetti__5_7e {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti5');
            top: -330rem;
        }
.App_confetti__6_55 {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti6');
            top: -380rem;
        }
.App_confetti__7_b5 {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti7');
            top: -345rem;
        }
.App_confetti__8_13 {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti8');
            top: -345rem;
        }
.App_confetti__9_e7 {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti9');
            top: -310rem;
        }
.App_confetti__10_1a {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti10');
            top: -345rem;
        }
.App_confetti__11_b6 {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti11');
            top: -310rem;
        }
.App_confetti__12_86 {
            background-image: url('R.images.gui.maps.icons.new_year.info.background.confetti12');
            top: -390rem;
        }
.App_buttonWrapper_5c {
    margin: 320rem 0 40rem;
}
.App_snowmenWrapper_f3 {
    height: 500rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.App_snowmen_96 {
    width: 956rem;
    height: 572rem;
    background: url('R.images.gui.maps.icons.new_year.info.background.snowmen') center bottom / cover no-repeat;
    position: absolute;
    bottom: -100rem;
    left: 50%;
    transform: translateX(-50%);
}
.App_bottomShadow_07 {
    width: 100%;
    height: 225rem;
    background: linear-gradient(180deg, rgba(5, 18, 52, 0) 0%, #051234 78%);
    position: absolute;
    bottom: -35rem;
    left: 0;
}
.App_scrollArea_a6 .ps__rail-y {
            margin-bottom: 24rem;
        }

.VideoCover_base_74 {
    width: 100%;
    height: 618rem;
    position: relative;
}
.VideoCover_cover_4e {
    width: 1080rem;
    height: 660rem;
    background: center / contain no-repeat;
    position: absolute;
    top: -42rem;
    left: -60rem;
}
.VideoCover_selectionAria_7d {
    width: 960rem;
    height: 535rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.VideoCover_playButton_0b {
    width: 228rem;
    height: 228rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.VideoCover_buttonIcon_90,
.VideoCover_buttonShine_63 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.VideoCover_buttonIcon_90 {
    background: url('R.images.gui.maps.icons.new_year.info.btn_play') center / contain no-repeat;
}
.VideoCover_buttonShine_63 {
    background: url('R.images.gui.maps.icons.new_year.info.btn_hover_shine') center / contain no-repeat;
    opacity: 0;
    transition: opacity .2s;
}
.VideoCover_selectionAria_7d:hover .VideoCover_buttonShine_63 {
        opacity: 1;
    }

.CommonInfo_base_5c {
    display: flex;
    justify-content: center;
}

.CommonInfo_widgets_ad {
    display: flex;
    flex-wrap: wrap;
    margin-top: -40rem;
}

.CommonInfo_widget_80 {
    display: flex;
    margin-top: 50rem;
}

.CommonInfo_iconWrapper_ee {
    width: 110rem;
}

.CommonInfo_icon_8f {
    width: 118rem;
    height: 118rem;
    background: center / contain no-repeat;
    transform: translateY(-40rem);
}

.CommonInfo_textWrapper_de {
    display: flex;
    flex-direction: column;
    width: 210rem;
}

.CommonInfo_title_bf {
    color: #fff;
    font-size: 18rem;
    font-weight: 700;
    line-height: 22rem;
}

.CommonInfo_description_76 {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    margin-top: 22rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTitle_base_f6 {
    font-size: 32rem;
    font-weight: 700;
    line-height: 37rem;
    position: relative;
}
.FormatTitle_frontText_4f {
    color: #fff;
    mask: linear-gradient(
        to bottom,
        #fff 20%,
        rgba(255,255,255, .25)
    );
}
.FormatTitle_backText_04 {
    color: #00a3ff;
    text-shadow: 0 -1px 7px #00a3ff;
    mask: linear-gradient(
        to bottom,
        #00a3ff 32%,
        transparent
    );
    position: absolute;
    top: -1rem;
    left: 0;
    z-index: -1;
}

.Title_base_79 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.Title_title_12 {
    margin: 0 50rem;
}

.Title_lineLeft_ab,
.Title_lineRight_7f {
    flex: 1 0;
    height: 2rem;
}

.Title_lineLeft_ab {
    background-image: linear-gradient(
        to left,
        #fff,
        #fff 4rem,
        rgba(255, 255, 255, .3) 4rem,
        transparent 50%
    );
}

.Title_lineRight_7f {
    background-image: linear-gradient(
        to right,
        #fff,
        #fff 4rem,
        rgba(255, 255, 255, .3) 4rem,
        transparent 50%
    );
}

.Title_shine_a8 {
    width: 963rem;
    height: 291rem;
    background: url('R.images.gui.maps.icons.new_year.info.title_shine') center / contain no-repeat;
    position: absolute;
    top: -110rem;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.RewardsInfo_base_bc {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.RewardsInfo_widgets_65 {
    display: flex;
    justify-content: space-between;
    margin-top: 40rem;
}

.RewardsInfo_widget_a6 {
    width: 230rem;
}

.RewardsInfo_iconWrapper_66 {
    width: 100%;
}

.RewardsInfo_icon_44 {
    width: 100%;
    height: 180rem;
    background: center / contain no-repeat;
}

.RewardsInfo_textWrapper_7c {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0;
}

.RewardsInfo_title_db {
    color: #fff;
    font-size: 18rem;
    font-weight: 700;
    line-height: 22rem;
}

.RewardsInfo_description_48 {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    display: flex;
    flex: 1 0;
    margin-top: 22rem;
    text-align: center;
}

.RewardsInfo_buttonWrapper_e0 {
    margin-top: 30rem;
}

.BigBoxesInfo_base_bc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.BigBoxesInfo_bigBox_3f {
    width: 960rem;
    height: 330rem;
    margin-bottom: -50rem;
    background: url('R.images.gui.maps.icons.new_year.info.big_box') center / cover no-repeat;
}

.BigBoxesInfo_subtitle_68 {
    margin-top: 15rem;
    color: #fff;
    font-size: 26rem;
    font-weight: 700;
    line-height: 32rem;
}

.BigBoxesInfo_description_2b {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    width: 680rem;
    margin-top: 20rem;
    text-align: center;
}

.BigBoxesInfo_buttonWrapper_09 {
    margin-top: 30rem;
}

.BigBoxesOpening_base_4a {
    width: 100%;
}

.BigBoxesOpening_widgets_87 {
    display: flex;
    justify-content: space-between;
    margin-top: 60rem;
}

.BigBoxesOpening_icon_0c {
    width: 466rem;
    height: 180rem;
    background: center / contain no-repeat;
}

.BigBoxesOpening_textWrapper_29 {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    margin-top: 10rem;
}

.BigBoxesOpening_title_75 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 29rem;
    width: 360rem;
}

.BigBoxesOpening_description_1e {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    display: flex;
    flex: 1 0;
    width: 440rem;
    margin-top: 20rem;
}

.BigBoxesOpening_buttonWrapper_41 {
    display: flex;
    margin-top: 35rem;
}

.ChallengeInfo_base_ca {
    width: 100%;
}

.ChallengeInfo_content_de {
    display: flex;
    margin-top: 90rem;
}

.ChallengeInfo_chuckWrapper_68 {
    width: 420rem;
    position: relative;
}

.ChallengeInfo_chuck_75 {
    width: 490rem;
    height: 614rem;
    background: url('R.images.gui.maps.icons.new_year.info.chuck') center bottom / cover no-repeat;
    position: absolute;
    top: -85rem;
    left: -50rem;
    z-index: -1;
}

.ChallengeInfo_widget_44 {
    display: flex;
}

.ChallengeInfo_widget_44 + .ChallengeInfo_widget_44 {
        margin-top: 60rem;
    }

.ChallengeInfo_icon_63 {
    width: 96rem;
    height: 96rem;
    background: center / contain no-repeat;
}

.ChallengeInfo_textWrapper_9d {
    width: 420rem;
    margin-left: 25rem;
}

.ChallengeInfo_title_33 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 29rem;
}

.ChallengeInfo_description_6d {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    margin-top: 10rem;
}

.ChallengeInfo_divider_47 {
    height: 2rem;
    margin-top: 45rem;
    background-image: linear-gradient(to left, transparent, #fff, transparent);
    opacity: .2;
}

.ChallengeInfo_buttonWrapper_48 {
    margin-top: 45rem;
}

.SnowMaidens_base_59 {
    width: 100%;
}

.SnowMaidens_title_db {
    margin: 35rem 0 10rem;
    color: #fff;
    font-size: 26rem;
    font-weight: 700;
    line-height: 32rem;
    text-align: center;
}

.SnowMaidens_about_94 {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    text-align: center;
}

.SnowMaidens_about_94 + .SnowMaidens_about_94 {
        margin-top: 35rem;
    }

.SnowMaidens_snowMaidens_8f {
    width: 100%;
    height: 330rem;
    margin-top: 10rem;
    background: url('R.images.gui.maps.icons.new_year.info.snow_maidens') center bottom / cover no-repeat;
}

.SnowMaidens_widgets_2a {
    display: flex;
    justify-content: space-between;
    margin-top: 30rem;
}

.SnowMaidens_widget_e0 {
    display: flex;
}

.SnowMaidens_icon_ec {
    width: 60rem;
    height: 60rem;
    background: center / contain no-repeat;
}

.SnowMaidens_description_0b {
    color: #fff;
    font-size: 18rem;
    font-weight: 700;
    line-height: 22rem;
    width: 190rem;
    margin: 5rem 0 0 20rem;
    color: #909cbb;
}

.HowToGetDecorations_base_3f {
    width: 100%;
}

.HowToGetDecorations_widget_ff {
    display: flex;
    align-items: center;
    margin-top: 30rem;
}

.HowToGetDecorations_widget_ff + .HowToGetDecorations_widget_ff {
        margin-top: 0;
    }

.HowToGetDecorations_widget__inverted_63 {
        flex-direction: row-reverse;
    }

.HowToGetDecorations_icon_b4 {
    width: 520rem;
    height: 220rem;
    background: center / contain no-repeat;
}

.HowToGetDecorations_textWrapper_3b {
    width: 440rem;
}

.HowToGetDecorations_title_0f {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 29rem;
}

.HowToGetDecorations_description_af {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    margin-top: 10rem;
}

.MegaDecorations_base_28 {
    width: 100%;
}

.MegaDecorations_widgets_b2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60rem;
}

.MegaDecorations_icon_1f {
    width: 465rem;
    height: 180rem;
    background: center / contain no-repeat;
}

.MegaDecorations_textWrapper_44 {
    width: 430rem;
    margin-top: 10rem;
}

.MegaDecorations_title_e1 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 29rem;
}

.MegaDecorations_description_0c {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    margin-top: 20rem;
}

.ColliderInfo_base_80 {
    width: 100%;
}

.ColliderInfo_widgets_c2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60rem;
}

.ColliderInfo_icon_82 {
    width: 465rem;
    height: 180rem;
    background: center / contain no-repeat;
}

.ColliderInfo_textWrapper_2f {
    width: 440rem;
    margin-top: 10rem;
}

.ColliderInfo_title_28 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 29rem;
}

.ColliderInfo_description_8a {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    margin-top: 20rem;
}

.BonusInfo_base_df {
    width: 100%;
}

.BonusInfo_aboutWrapper_52 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
}

.BonusInfo_aboutBonus_1b {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    width: 730rem;
    text-align: center;
}

.BonusInfo_formula_6b {
    margin-top: 10rem;
}

.BonusInfo_coins_ef {
    width: 35rem;
    height: 29rem;
    margin-top: 8rem;
    background: url('R.images.gui.maps.icons.new_year.info.coins') center / cover no-repeat;
    mix-blend-mode: luminosity;
}

.BonusInfo_widgets_38 {
    display: flex;
    justify-content: space-between;
    margin-top: -10rem;
}

.BonusInfo_icon_88 {
    width: 300rem;
    height: 265rem;
    background: center / contain no-repeat;
}

.BonusInfo_textWrapper_a0 {
    margin-top: -40rem;
}

.BonusInfo_title_c4 {
    color: #fff;
    font-size: 18rem;
    font-weight: 700;
    line-height: 22rem;
    width: 210rem;
    min-height: 44rem;
}

.BonusInfo_description_85 {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    width: 295rem;
    margin-top: 15rem;
}

.NyVehiclesInfo_base_08 {
    width: 100%;
}

.NyVehiclesInfo_widget_66 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60rem;
}

.NyVehiclesInfo_widget__inverted_3d {
        flex-direction: row-reverse;
    }

.NyVehiclesInfo_iconWrapper_e8 {
    width: 480rem;
    height: 180rem;
}

.NyVehiclesInfo_icon_14 {
    width: 100%;
    height: 330rem;
    background: center / contain no-repeat;
    transform: translateY(-75rem);
}

.NyVehiclesInfo_textWrapper_2a {
    width: 440rem;
}

.NyVehiclesInfo_title_c0 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 29rem;
}

.NyVehiclesInfo_description_ab {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    margin-top: 10rem;
}

.FinishedEventInfo_base_c8 {
    width: 100%;
}

.FinishedEventInfo_content_9a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
}

.FinishedEventInfo_title_ef {
    margin-top: 40rem;
    color: #fff;
    font-size: 26rem;
    font-weight: 700;
    line-height: 32rem;
}

.FinishedEventInfo_description_f7 {
    color: #909cbb;
    font-size: 16rem;
    line-height: 21rem;
    margin-top: 20rem;
    text-align: center;
}

