.IconTextBlock_base_46 {
    display: flex;
    align-items: center;
}

.IconTextBlock_icon_c9 {
    width: 36rem;
    height: 36rem;
    background: center no-repeat;
}

.IconTextBlock_text_89 {
    width: 90%;
    margin-left: 10rem;
}

