.FinalLevel_level_49 {
    color: #F2F2F7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
    width: 100%;
    margin-bottom: 10rem;
    text-align: center;
}

.FinalLevel_levelLabel_04 {
    color: #C9C9B6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
}

.IconTextBlock_base_46 {
    display: flex;
}

.IconTextBlock_icon_c9 {
    width: 36rem;
    height: 36rem;
    background: center no-repeat;
}

.IconTextBlock_text_89 {
    width: 90%;
    margin-left: 10rem;
}

/* stylelint-disable */
[lang=ja],
[lang=ko],
[lang=zh_tw],
[lang=zh_sg],
[lang=zh_ch],
[lang=th] {
    overflow-wrap: break-word;
}
/* stylelint-enable */
.ClaimRewards_base_51 {
    line-height: normal;
}
.ClaimRewards_separator_45 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Devider_points') 50% / contain no-repeat;
}
.ClaimRewards_rewards_2d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.ClaimRewards_base_51 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ClaimRewards_content_74 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 -28rem;
    padding: 17rem 28rem 23rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Gradient_devider') center top / cover repeat-y;
}
.ClaimRewards_checkmark_65 {
    width: 12rem;
    height: 12rem;
    margin-top: 4rem;
    margin-right: 4rem;
    background: url('R.images.gui.maps.icons.library.done') center / contain no-repeat;
}
.ClaimRewards_text_75 {
    color: #CBAC77;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
}
.ClaimRewards_text__rewardsClaimed_0e {
        color: #7AB300;
    }

/* stylelint-disable */
[lang=ja],
[lang=ko],
[lang=zh_tw],
[lang=zh_sg],
[lang=zh_ch],
[lang=th] {
    overflow-wrap: break-word;
}
/* stylelint-enable */
.Content_base_c5 {
    line-height: normal;
}
.Content_separator_df {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Devider_points') 50% / contain no-repeat;
}
.Content_rewards_fc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Content_base_c5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 403rem;
    padding: 28rem;
    overflow: hidden;
}
.Content_base__noDescription_3f {
        padding: 28rem 28rem 0;
    }
.Content_title_e5 {
    color: #F2F2F7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 14rem;
    text-align: center;
}
.Content_footer_1a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}
.Content_levelFlare_8d {
    width: 400rem;
    height: 400rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.c_45_lvl_Flare') center / cover no-repeat;
    mix-blend-mode: additive;
    position: absolute;
    transform: translate(0, -273rem);
}
.Content_claimRewards_ca {
    width: 440rem;
}
.Content_finalLevel_82 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20rem;
}
.Content_unlock_f4 {
    color: #CBAC77;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 100%;
    margin-top: 20rem;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem; /* border offset*/
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipDecorator_decoratorContent_de {
    background-color: #000;
}

