.Warning_base_9b {
    display: flex;
    align-items: center;
    color: #EE7000;
}

.Warning_icon_52 {
    width: 24rem;
    height: 24rem;
    margin-right: 9rem;
    background: no-repeat center / contain;
}

.Warning_icon__triangle_7f {
        background-image: url('R.images.gui.maps.icons.bm2021.dialog.warningIcon');
    }

.Warning_icon__circle_a6 {
        width: 16rem;
        height: 15rem;
        margin-right: 8rem;
        background-image: url('R.images.gui.maps.icons.bm2021.dialog.circleWarningIcon');
    }

.Warning_text__replaced_26 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

.Warning_text__shining_9b {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
        0 0 10rem rgba(255,42,0, .3),
        0 0 10rem rgba(255,42,0, .3),
        0 0 2rem rgba(255,42,0, .3),
        0 0 1rem rgba(255,42,0, .3),
        0 0 2rem rgba(255,42,0, .3),
        0 0 1rem rgba(255,42,0, .3);
    }

