.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .6);
    position: relative;
    cursor: pointer;
}

    /* type*/

    .CButton_base__main_42,
    .CButton_base__primary_7f,
    .CButton_base__primaryGreen_6f,
    .CButton_base__primaryRed_ec,
    .CButton_base__secondary_50 {
        background-size: 100% 100%;
    }

    .CButton_base__main_42 {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_7f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_6f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_ec {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_50 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_ed {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 0 1rem rgba(255,255,255, .15) inset;
        background-image: linear-gradient(0deg, rgba(13, 11, 3, 0) 0%, rgba(13, 11, 3, .04) 27%, rgba(13, 11, 3, 0) 100%);
    }

    /* size*/

    .CButton_base__extraSmall_27 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_df,
    .CButton_base__medium_74 {
        padding: 0 20rem;
    }

    .CButton_base__small_df {
        min-height: 20rem;
    }

    .CButton_base__medium_74 {
        min-height: 31rem;
    }

    /*state*/

    .CButton_base__disabled_d9 {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_7f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_6f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_ec .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_50 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow .16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, .2);
    }
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(180deg, rgba(252,248,235, .25) 0%, rgba(252,248,235, .1) 50%, rgba(255,255,255, 0) 100%);
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
        opacity: 1;
    }
.CButton_base_40:active .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
        box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, .11) inset;
        background-color: rgba(8, 6, 0, .18);
        background-image: none;
    }
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0,0,0, .3) 0%, rgba(0,0,0, .15) 100%);
}
.CButton_base_40:active .CButton_stateHighlightActive_35 {
        opacity: 1;
    }
.CButton_base__disabled_d9:active .CButton_stateHighlightActive_35 {
        opacity: 0;
    }
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, .25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
        opacity: 1;
    }
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: .03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang=ja],
    .CButton_content_cc[lang=ko],
    .CButton_content_cc[lang=zh_tw],
    .CButton_content_cc[lang=zh_sg],
    .CButton_content_cc[lang=zh_ch],
    .CButton_content_cc[lang=th] {
        font-weight: 400;
    }
/* type*/
.CButton_base__main_42 .CButton_content_cc,
    .CButton_base__primaryRed_ec .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_50 .CButton_content_cc {
        color: rgba(254,254,236, .75);
    }
.CButton_base__primaryGreen_6f .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
/* size*/
.CButton_base__extraSmall_27 .CButton_content_cc {
        font-size: 12rem;
    }
.CButton_base__small_df .CButton_content_cc {
        font-size: 14rem;
    }
.CButton_base__medium_74 .CButton_content_cc {
        font-size: 15rem;
    }
/*state*/
.CButton_base__disabled_d9 .CButton_content_cc {
        opacity: .6;
    }

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_39 {
        flex-direction: row-reverse;
    }
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
    .TextButton_icon__forward_59 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_59 {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_53 {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_33 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
    .TextButton_icon__forward_59 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_53 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_33 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_b6:hover .TextButton_glow_a4 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_glow_a4 {
        opacity: 0;
    }
.TextButton_caption_82 {
    position: relative;
    transition: color .16s;
}
.TextButton_caption__back_b9,
    .TextButton_caption__forward_4e,
    .TextButton_caption__close_36 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_b6:hover .TextButton_caption__back_b9, .TextButton_base_b6:hover .TextButton_caption__forward_4e, .TextButton_base_b6:hover .TextButton_caption__close_36 {
            color: #fffa9f;
        }
.TextButton_base_b6:active .TextButton_caption__back_b9, .TextButton_base_b6:active .TextButton_caption__forward_4e, .TextButton_base_b6:active .TextButton_caption__close_36 {
            color: #FFDD99;
        }
.TextButton_caption__info_23 {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_b6:hover .TextButton_caption__info_23 {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_b6:active .TextButton_caption__info_23 {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
        margin-left: 8rem;
    }
.TextButton_base__right_39 .TextButton_goto_e7 {
        margin-right: 8rem;
    }
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
        left: -4rem;
    }
.TextButton_base__right_39 .TextButton_shine_e2 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_b6:hover .TextButton_shine_e2 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_shine_e2 {
        opacity: 0;
    }

.CurrencyBalanceList_base_8d {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-width: 345rem;
    height: 40rem;
    border-bottom: 1rem solid #242421;
}

.CurrencyBalanceList_currency_22 {
    margin-left: 20rem;
}

.CurrencyBalanceItem_base_f8 {
    height: 20rem;
    padding-left: 20rem;
    background-repeat: no-repeat;
    background-size: 16rem 16rem;
    color: #C9C9B6;
    font-size: 14rem;
}

    .CurrencyBalanceItem_base__credit_bd {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
        background-position: 0 2rem;
        color: #CED9D9;
    }

    .CurrencyBalanceItem_base__gold_2e {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
        background-position: 0 1rem;
        color: #FFC363;
    }

    .CurrencyBalanceItem_base__crystal_c7 {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
    }

    .CurrencyBalanceItem_base__freexp_fa {
        background-image: url('R.images.gui.maps.icons.library.FreeXpIcon_2');
        background-position: 0 1rem;
    }

body {
    overflow: hidden;
}

.DialogTemplate_base_69 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(19,18,16, .5);
    position: relative;
}

.DialogTemplate_control_02 {
    padding-right: 10rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.DialogTemplate_closeButton_a5 {
    align-self: flex-end;
    margin-top: 30rem;
    margin-right: 21rem;
}

.DialogTemplate_view_5a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 700rem;
    max-width: 920rem;
    opacity: 0;
}

.DialogTemplate_view__show_c9 {
        animation: DialogTemplate_window-in_48 .5s;
        animation-fill-mode: both;
    }

.DialogTemplate_content_75 {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DialogTemplate_icon_f8 {
    width: 359rem;
    height: 188rem;
    background: url('R.images.gui.maps.icons.bm2021.dialog.icon_convert_gold') no-repeat center / contain;
}

.DialogTemplate_line_13 {
    width: 100%;
    height: 1rem;
    background-color: #fff;
    opacity: .1;
}

.DialogTemplate_divider_18 {
    margin: 24rem 0;
}

.DialogTemplate_footer_9f {
    color: #C9C9B6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    align-items: center;
    margin-bottom: 16rem;
    line-height: 1;
}

.DialogTemplate_buttons_6a {
    display: flex;
    justify-content: center;
}

.DialogTemplate_buttonWrapper_95 {
    padding: 0 10rem;
}

.DialogTemplate_button_76 {
    width: 160rem;
    padding: 0 10rem;
}

.DialogTemplate_button_76 + .DialogTemplate_button_76 {
        margin-left: 12rem;
    }

@keyframes DialogTemplate_window-in_48 {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Currency_base_57 {
    display: flex;
    align-items: flex-end;
    position: relative;
}

    .Currency_base__insufficient_34 {
        color: #ed2415;
    }
.Currency_icon_c5 {
    width: 16rem;
    height: 16rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.Currency_icon__credits-small_9b {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
        transform: translateY(3rem);
    }
.Currency_icon__credits-large_ac {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_silver');
        transform: translateY(8rem);
    }
.Currency_icon__credits-big_96 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
        transform: translateY(-1rem);
    }
.Currency_icon__gold-small_86 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
        transform: translateY(2rem);
    }
.Currency_icon__gold-big_15 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
        transform: translateY(-1rem);
    }
.Currency_icon__gold-large_36 {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_gold');
        transform: translateY(8rem);
    }
.Currency_icon__crystal-small_27 {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
        transform: translateY(2rem);
    }
.Currency_icon__crystal-big_cd {
        width: 23rem;
        height: 22rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
        transform: translateY(2rem);
    }
.Currency_icon__crystal-large_d3 {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_bonds');
        transform: translateY(8rem);
    }
.Currency_icon__xp-small_a7 {
        width: 16rem;
        height: 16rem;
        background-image: url('R.images.gui.maps.icons.library.NormalXpIcon');
        transform: translateY(2rem);
    }
.Currency_icon__xp-big_97 {
        width: 23rem;
        height: 22rem;
        background-image: url('R.images.gui.maps.icons.library.xpIcon_23x22');
        transform: translateY(2rem);
    }
.Currency_icon__freeXp-small_63 {
        background-image: url('R.images.gui.maps.icons.library.freeXPIcon16x16');
        transform: translateY(2rem);
    }
.Currency_icon__freeXp-big_5f {
        width: 24rem;
        height: 24rem;
        background-image: url('R.images.gui.maps.icons.library.freeXPIconBig24x24');
        transform: translateY(3rem);
    }
.Currency_value_e1 {
    position: relative;
    z-index: 2;
}
.Currency_value__small_e9 {
        padding-right: 2rem;
    }
.Currency_value__big_d4 {
        padding-right: 5rem;
        font-size: 22rem;
        font-weight: 700;
    }
.Currency_value__large_85 {
        font-size: 36rem;
        font-weight: 700;
    }
.Currency_value__freeXp_e3 {
        color: #F2F2F7;
    }
.Currency_value__xp_b0,
    .Currency_value__credits_76 {
        color: #CED9D9;
    }
.Currency_value__gold_dd {
        color: #FFC363;
    }
.Currency_value__crystal_19 {
        color: #C9C9B6;
    }
.Currency_value__notEnough_56.Currency_value__small_e9 {
            color: #FF2717;
        }
.Currency_value__notEnough_56.Currency_value__big_d4 {
            color: #B70000;
        }
.Currency_stock_87 {
    height: 13rem;
    color: #fd9;
    font-size: 13rem;
    line-height: 1;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.Currency_stock__indent_a1 {
        margin-left: 3rem;
    }
.Currency_stock__sizeBig_b5 {
        transform: translateY(-1rem);
    }
.Currency_stock__interactive_93 {
        pointer-events: auto;
    }
.Currency_stockBackground_82 {
    width: 80rem;
    height: 45rem;
    background-image: url('R.images.gui.maps.icons.library.RedActionBG');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: -27rem;
    z-index: -1;
    transform: translateY(-47%);
}

.DialogContent_base_04 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DialogContent_description_46 {
    margin: 12rem 0 1rem;
}

.DialogContent_status_3d {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 15rem 0 5rem;
}

.DialogContent_status__notPossible_3c {
        color: #EE7000;
    }

.DialogContent_status__notRequired_65 {
        color: #80D43A;
    }

.DialogContent_items_06 {
    margin-bottom: 45rem;
}

.DialogContent_title_80 {
    color: #F2F2F7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.NumericStepper_base_35 {
    display: flex;
    align-items: center;
    border: 1rem solid #454437;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #000;
    background: #0d0d0c;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: border .3s ease-in-out;
}

    .NumericStepper_base__small_11 {
        width: 75rem;
        height: 24rem;
    }

    .NumericStepper_base__medium_9d {
        width: 92rem;
        height: 32rem;
    }

    .NumericStepper_base__large_dc {
        width: 180rem;
        height: 50rem;
    }

    .NumericStepper_base__isFocus_49 {
        border-color: #663c1f;
    }

    .NumericStepper_base__isDisabled_ac {
        border-color: #22221a;
    }
.NumericStepper_inputContainer_e2 {
    display: flex;
    align-items: center;
    flex: 1;
}
.NumericStepper_input_55 {
    flex: 1;
    border: none;
    background: transparent;
    color: #8c8c7e;
}
.NumericStepper_base__small_11 .NumericStepper_input_55 {
        padding: 0 5rem;
        font-size: 13.5rem;
    }
.NumericStepper_base__medium_9d .NumericStepper_input_55 {
        padding: 0 10rem 2rem;
        font-size: 24rem;
        line-height: 28rem;
    }
.NumericStepper_base__large_dc .NumericStepper_input_55 {
        padding: 0 3rem 3rem 20rem;
        font-size: 24rem;
    }
.NumericStepper_input__disabled_d8 {
        color: transparent;
        text-shadow: 0 0 0 #37362e;
    }
.NumericStepper_input__credits_08 {
        color: #ced9d9;
    }
.NumericStepper_input__credits-disabled_3f {
        color: transparent;
        text-shadow: 0 0 0 rgba(206,217,217, .3);
    }
.NumericStepper_input__gold_14 {
        color: #ffc363;
    }
.NumericStepper_input__gold-disabled_c6 {
        color: transparent;
        text-shadow: 0 0 0 rgba(255,195,99, .3);
    }
.NumericStepper_input__crystal_2e {
        color: #c9c9b6;
    }
.NumericStepper_input__crystal-disabled_f8 {
        color: transparent;
        text-shadow: 0 0 0 rgba(201,201,182, .3);
    }
.NumericStepper_base__small_11 .NumericStepper_input__with-сurrency_c1 {
            padding-right: 26rem;
        }
.NumericStepper_base__medium_9d .NumericStepper_input__with-сurrency_c1 {
            padding-right: 36rem;
        }
.NumericStepper_base__large_dc .NumericStepper_input__with-сurrency_c1 {
            padding-right: 22rem;
        }
.NumericStepper_base__small_11 .NumericStepper_input__crystal-medium_56, .NumericStepper_base__small_11 .NumericStepper_input__crystal-large_4e {
            padding-right: 33rem;
        }
.NumericStepper_base__medium_9d .NumericStepper_input__crystal-medium_56, .NumericStepper_base__medium_9d .NumericStepper_input__crystal-large_4e {
            padding-right: 43rem;
        }
.NumericStepper_base__large_dc .NumericStepper_input__crystal-medium_56, .NumericStepper_base__large_dc .NumericStepper_input__crystal-large_4e {
            padding-right: 29rem;
        }
.NumericStepper_input_55::selection {
        background-color: #8c8c7e;
        color: #242420;
    }
.NumericStepper_currency_38 {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
}
.NumericStepper_base__small_11 .NumericStepper_currency_38 {
        padding-right: 21rem;
    }
.NumericStepper_base__medium_9d .NumericStepper_currency_38 {
        padding-right: 26rem;
    }
.NumericStepper_base__large_dc .NumericStepper_currency_38 {
        padding-right: 22rem;
    }
.NumericStepper_base__small_11 .NumericStepper_currency__crystal-medium_55, .NumericStepper_base__small_11 .NumericStepper_currency__crystal-large_a4 {
            padding-right: 28rem;
        }
.NumericStepper_base__medium_9d .NumericStepper_currency__crystal-medium_55, .NumericStepper_base__medium_9d .NumericStepper_currency__crystal-large_a4 {
            padding-right: 33rem;
        }
.NumericStepper_base__large_dc .NumericStepper_currency__crystal-medium_55, .NumericStepper_base__large_dc .NumericStepper_currency__crystal-large_a4 {
            padding-right: 22rem;
        }
.NumericStepper_currencyIcon_8e {
    width: 16rem;
    height: 16rem;
    background: center / contain no-repeat;
}
.NumericStepper_currencyIcon__credits-small_99 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
        transform: translateY(2rem);
    }
.NumericStepper_currencyIcon__credits-medium_1a {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
        transform: translateY(7rem);
    }
.NumericStepper_currencyIcon__credits-large_bc {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
        transform: translate(5rem, 6rem);
    }
.NumericStepper_currencyIcon__gold-small_2a {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
        transform: translateY(1rem);
    }
.NumericStepper_currencyIcon__gold-medium_f6 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
        transform: translateY(8rem);
    }
.NumericStepper_currencyIcon__gold-large_d6 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
        transform: translate(5rem, 7rem);
    }
.NumericStepper_currencyIcon__crystal-small_b5 {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
    }
.NumericStepper_currencyIcon__crystal-medium_ac {
        width: 23rem;
        height: 22rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
        transform: translateY(5rem);
    }
.NumericStepper_currencyIcon__crystal-large_2b {
        width: 23rem;
        height: 22rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
        transform: translate(5rem, 4rem);
    }
.NumericStepper_base__isDisabled_ac .NumericStepper_currencyIcon_8e {
        filter: brightness(.3);
    }
.NumericStepper_dummyValue_0c {
    max-width: 100%;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}
.NumericStepper_base__small_11 .NumericStepper_dummyValue_0c {
        padding: 0 5rem;
        font-size: 13.5rem;
    }
.NumericStepper_base__medium_9d .NumericStepper_dummyValue_0c {
        padding: 0 10rem 2rem;
        font-size: 24rem;
        line-height: 28rem;
    }
.NumericStepper_base__large_dc .NumericStepper_dummyValue_0c {
        padding: 0 3rem 3rem 20rem;
        font-size: 24rem;
    }
.NumericStepper_control_ab {
    display: flex;
    flex-direction: column;
}
.NumericStepper_buttonIncrement_16,
.NumericStepper_buttonDecrement_c8 {
    background-repeat: no-repeat;
    cursor: pointer;
}
@media (min-width: 1920px) {
.NumericStepper_buttonIncrement_16,
.NumericStepper_buttonDecrement_c8 {
        background-size: 200% 400%
}
    }
.NumericStepper_buttonIncrement__small_f6, .NumericStepper_buttonDecrement__small_36 {
        width: 19rem;
        height: 11rem;
        background-image: url('R.images.gui.maps.icons.components.numerical_stepper.stepper_small_buttons');
    }
.NumericStepper_buttonIncrement__medium_fd, .NumericStepper_buttonDecrement__medium_d1 {
        width: 27rem;
        height: 15rem;
        background-image: url('R.images.gui.maps.icons.components.numerical_stepper.stepper_medium_buttons');
    }
.NumericStepper_buttonIncrement__large_56, .NumericStepper_buttonDecrement__large_63 {
        width: 43rem;
        height: 24rem;
        background-image: url('R.images.gui.maps.icons.components.numerical_stepper.stepper_large_buttons');
    }
.NumericStepper_buttonIncrement__isDisabled_68, .NumericStepper_buttonDecrement__isDisabled_d9 {
        cursor: default;
    }
.NumericStepper_buttonIncrement__small_f6:hover {
        background-position: 0 -11rem;
    }
.NumericStepper_buttonIncrement__medium_fd:hover {
        background-position: 0 -15rem;
    }
.NumericStepper_buttonIncrement__large_56:hover {
        background-position: 0 -24rem;
    }
.NumericStepper_buttonIncrement__isActive-small_2a,
    .NumericStepper_buttonIncrement__isActive-small_2a:hover {
        background-position: 0 -22rem;
    }
.NumericStepper_buttonIncrement__isActive-medium_c2,
    .NumericStepper_buttonIncrement__isActive-medium_c2:hover {
        background-position: 0 -30rem;
    }
.NumericStepper_buttonIncrement__isActive-large_91,
    .NumericStepper_buttonIncrement__isActive-large_91:hover {
        background-position: 0 -48rem;
    }
.NumericStepper_buttonIncrement__isDisabled_68,
    .NumericStepper_buttonIncrement__isDisabled_68:hover {
        background-position: 0 100%;
    }
.NumericStepper_buttonDecrement_c8 {
    background-position: 100% 0;
}
.NumericStepper_buttonDecrement__small_36:hover {
        background-position: 100% -11rem;
    }
.NumericStepper_buttonDecrement__medium_d1:hover {
        background-position: 100% -15rem;
    }
.NumericStepper_buttonDecrement__large_63:hover {
        background-position: 100% -24rem;
    }
.NumericStepper_buttonDecrement__isActive-small_21,
    .NumericStepper_buttonDecrement__isActive-small_21:hover {
        background-position: 100% -22rem;
    }
.NumericStepper_buttonDecrement__isActive-medium_a3,
    .NumericStepper_buttonDecrement__isActive-medium_a3:hover {
        background-position: 100% -30rem;
    }
.NumericStepper_buttonDecrement__isActive-large_8b,
    .NumericStepper_buttonDecrement__isActive-large_8b:hover {
        background-position: 100% -48rem;
    }
.NumericStepper_buttonDecrement__isDisabled_d9,
    .NumericStepper_buttonDecrement__isDisabled_d9:hover {
        background-position: 100% 100%;
    }

.ExchangePanel_arrow_31 {
    width: 24rem;
    height: 48rem;
    margin: 0 15rem;
    background: url('R.images.gui.maps.icons.library.arrow') no-repeat center / contain;
    transform: rotate(180deg);
}

.DialogFooter_base_a5 {
    display: flex;
    align-items: center;
}

.Item_base_3a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

    .Item_base_3a + .Item_base_3a {
        margin-left: 15rem;
    }

.Item_highlight_87 {
    width: 492rem;
    height: 310rem;
    background: no-repeat center / contain;
    position: absolute;
    z-index: -1;
}

.Item_highlight__optionalDevice_0f,
    .Item_highlight__battleBoosterReplace_3b,
    .Item_highlight__battleBooster_e1,
    .Item_highlight__builtInEquipment_7b,
    .Item_highlight__battleAbility_31 {
        background-image: url('R.images.gui.maps.icons.demountKit.simple_highlight');
    }

.Item_highlight__equipmentPlus_57 {
        background-image: url('R.images.gui.maps.icons.demountKit.equipmentPlus_highlight');
    }

.Item_highlight__equipmentTrophyBasic_f9,
    .Item_highlight__equipmentTrophyUpgraded_93 {
        background-image: url('R.images.gui.maps.icons.demountKit.equipmentTrophyBasic_highlight');
    }

.Item_overlay_f0 {
    width: 248rem;
    height: 224rem;
    background: no-repeat center / contain;
    position: absolute;
}

.Item_overlay__battleBoosterReplace_a5 {
        background-image: url('R.images.gui.maps.icons.artefact.battleBooster_replace_overlay_medium');
    }

.Item_overlay__battleBooster_18 {
        background-image: url('R.images.gui.maps.icons.artefact.battleBooster_overlay_medium');
    }

.Item_overlay__equipmentPlus_99 {
    width: 48rem;
    height: 47rem;
    top: 0;
    left: 0;
        background-image: url('R.images.gui.maps.icons.demountKit.equipmentPlus_overlay');
    }

.Item_overlay__equipmentTrophyBasic_d9 {
    width: 48rem;
    height: 47rem;
    top: 0;
    left: 0;
        background-image: url('R.images.gui.maps.icons.demountKit.equipmentTrophyBasic_overlay');
    }

.Item_overlay__equipmentTrophyUpgraded_d7 {
    width: 48rem;
    height: 47rem;
    top: 0;
    left: 0;
        background-image: url('R.images.gui.maps.icons.demountKit.equipmentTrophyUpgraded_overlay');
    }

.Item_level_b3 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: absolute;
    top: -3rem;
    left: 12rem;
}

.Item_image_86 {
    width: 180rem;
    height: 135rem;
    background: no-repeat center / cover;
    position: relative;
}

.Items_base_0c {
    display: flex;
    align-items: center;
    z-index: 0;
}

.Names_base_f1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #C9C9B6;
    line-height: 22rem;
}

