.Chose_base_96 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27rem;
    height: 100%;
}

.Chose_chose_f6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 57rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.or') no-repeat center / contain;
    color: #fd9;
    font-size: 14rem;
    text-shadow: 0 0 12rem #f00;
    transform: translateY(-12rem);
}

.TankmanStyle_base_2a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220rem;
}

.TankmanStyle_image_82 {
    width: 158rem;
    height: 118rem;
    background: center / contain;
}

.TankmanStyle_skillWrapper_93 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.TankmanStyle_skillBackground_7f {
    width: 338rem;
    height: 168rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.perk_light') no-repeat center center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.TankmanStyle_skill_43 {
    width: 48rem;
    height: 48rem;
    background: center / contain;
    position: relative;
}

.TankmanStyle_title_40 {
    margin-top: 16rem;
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
}

.Content_base_96 {
    display: flex;
    flex-direction: column;
    width: 540rem;
    padding: 20rem 28rem 28rem;
    line-height: normal;
    position: relative;
}
/* stylelint-disable */
[lang=ja],
[lang=ko],
[lang=zh_tw],
[lang=zh_sg],
[lang=zh_ch],
[lang=th] {
    overflow-wrap: break-word;
}
/* stylelint-enable */
.Content_title_00 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
}
.Content_description_1b {
    margin-top: 13rem;
    margin-bottom: 19rem;
    color: #8c8c7e;
    font-size: 16rem;
}
.Content_images_c6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.Content_chose_c9 {
    display: flex;
    margin-top: 35rem;
}
.Content_line_ef {
    width: 537rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.crew_tooltip_line') no-repeat center center / contain;
    position: absolute;
    bottom: 61rem;
    left: 270rem;
    transform: translateX(-50%);
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem; /* border offset*/
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipDecorator_decoratorContent_de {
    background-color: #000;
}

