@keyframes BobRewardIcon_fadeOut_31 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes BobRewardIcon_fadeIn_48 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes BobRewardIcon_fadeInWithScale_e6 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes BobRewardIcon_slideUp_f2 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes BobRewardIcon_scale_48 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes BobRewardIcon_raysAppearance_91 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: .2;
        transform: translateY(0);
    }
}
@keyframes BobRewardIcon_rotate_94 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.BobRewardIcon_base_61 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.BobRewardIcon_image_f4 {
    background: no-repeat center / contain;
    position: relative;
}
.BobRewardIcon_image__personal_82 {
        width: 400rem;
        height: 300rem;
    }
.BobRewardIcon_base__small_c4 .BobRewardIcon_image__personal_82 {
            width: 320rem;
            height: 230rem;
        }
.BobRewardIcon_image__team_68 {
        width: 600rem;
        height: 450rem;
    }
.BobRewardIcon_base__small_c4 .BobRewardIcon_image__team_68 {
            width: 400rem;
            height: 300rem;
        }
.BobRewardIcon_amount_1a {
    opacity: 0;
    animation-name: BobRewardIcon_fadeIn_48;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.07, .82, .17, 1);
    animation-delay: .8s;
    animation-iteration-count: 1;
    color: #CED9D9;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    font-weight: 400;
    position: absolute;
    top: 75%;
    right: 15%;
}
.BobRewardIcon_amount__team_24 {
        top: 85%;
    }
.BobRewardIcon_amountVal_8b {
    margin-left: -5rem;
}

