@keyframes App_wrapperHover_af {
    from {
        filter: brightness(100%);
    }

    to {
        filter: brightness(135%);
    }
}

.App_base_20 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 180rem;
    height: 210rem;
    margin: 1rem;
    position: relative;
    cursor: pointer;
}

.App_base__smallSize_3f,
    .App_base__small_2c,
    .App_base__extraSmall_66 {
        height: 100rem;
    }

.App_base__smallSize_3f {
        margin-top: 53rem;
    }

.App_base__small_2c,
    .App_base__extraSmall_66 {
        width: 180rem;
        height: 100rem;
        margin-top: 60rem;
    }

.App_bgHover_91 {
    background: url('R.images.gui.maps.icons.bm2021.entryPoint.big') center / cover no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

.App_base__smallSize_3f .App_bgHover_91,
    .App_base__small_2c .App_bgHover_91,
    .App_base__extraSmall_66 .App_bgHover_91 {
        background-image: url('R.images.gui.maps.icons.bm2021.entryPoint.small');
    }

.App_base_20:hover .App_bgHover_91 {
        animation: App_wrapperHover_af .3s ease-in-out forwards;
    }

.App_label_f0 {
    margin-bottom: -10rem;
    color: #fff;
    font-size: 14rem;
    font-weight: 600;
}

.App_timerBlock_9a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #feab34;
    font-size: 14rem;
    mix-blend-mode: additive;
    bottom: 0;
}

.App_timerIco_01 {
    display: flex;
    width: 37rem;
    height: 37rem;
    margin-top: 3rem;
    margin-right: -6rem;
    background-image: url('R.images.gui.maps.icons.bm2021.shared.timer_icon');
    background-size: 100% 100%;
}

