.StatItem_base_0a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

    .StatItem_base__medium_47 {
        width: 144rem;
        min-height: 76rem;
    }

    .StatItem_base__small_7f {
        width: 110rem;
        min-height: 53rem;
    }

.StatItem_wreathImage_b4 {
    background: no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.StatItem_base__medium_47 .StatItem_wreathImage_b4 {
        width: 88rem;
        height: 76rem;
    }

.StatItem_base__small_7f .StatItem_wreathImage_b4 {
        width: 60rem;
        height: 53rem;
    }

.StatItem_statImage_41 {
    background: no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.StatItem_base__medium_47 .StatItem_statImage_41 {
        width: 76rem;
        height: 76rem;
    }

.StatItem_base__small_7f .StatItem_statImage_41 {
        width: 52rem;
        height: 52rem;
        top: 2rem;
    }

.StatItem_statText_fb {
    color: #F2F2F7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
}

.StatItem_base__medium_47 .StatItem_statText_fb {
        margin-top: 56rem;
    }

.StatItem_base__small_7f .StatItem_statText_fb {
        margin-top: 40rem;
    }

.StatItem_divider_83 {
    opacity: .2;
}

.StatItem_base__small_7f .StatItem_divider_83 {
        margin-left: 4rem;
    }

.StatItem_maxValue_4a {
    opacity: .2;
}

.StatItem_base__small_7f .StatItem_maxValue_4a {
        margin-left: 5rem;
    }

.StatItem_titleText_e8 {
    display: flex;
    justify-content: center;
    color: #F2F2F7;
    line-height: 18rem;
    text-align: center;
    opacity: .6;
}

.StatItem_base__medium_47 .StatItem_titleText_e8 {
        font-size: 16rem;
    }

.StatItem_base__small_7f .StatItem_titleText_e8 {
        font-size: 14rem;
    }

