.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem; /* border offset*/
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipDecorator_decoratorContent_de {
    background-color: #000;
}

.Header_base_1a {
    line-height: normal;
}
.Header_separator_a0 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Devider_points') 50% / contain no-repeat;
}
.Header_rewards_57 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Header_base_1a {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -18rem;
}
.Header_icon_47 {
    width: 136rem;
    height: 136rem;
    margin-left: -13rem;
    margin-right: 8rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.points_136') no-repeat center / contain;
}
.Header_labels_ca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.Header_title_26 {
    width: 100%;
    margin-bottom: 2rem;
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
}
.Header_subtitle_d2 {
    width: 100%;
    color: #8c8c7e;
    font-size: 14rem;
}

.Point_base_e9 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Point_points_2a {
    color: #e9e2bf;
    font-size: 16rem;
}

.Point_points__special_c7 {
        color: #80d43a;
        font-size: 16rem;
    }

.Point_pointIcon_9e {
    width: 16rem;
    height: 16rem;
    margin-left: 2rem;
    margin-top: 4rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.points_24') center / contain no-repeat;
}

.Points_base_db {
    line-height: normal;
}
.Points_separator_89 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Devider_points') 50% / contain no-repeat;
}
.Points_rewards_c4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Points_tableHeader_e2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40rem;
    color: #8c8c7e;
    font-size: 14rem;
}
.Points_label_1e {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40rem;
    font-size: 14rem;
}
.Points_label__table_3a {
        justify-content: flex-start;
        color: #8c8c7e;
    }
.Points_tableColumn_35 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25rem;
}

.PerBattlePointsTable_base_b1 {
    line-height: normal;
}
.PerBattlePointsTable_separator_ee {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Devider_points') 50% / contain no-repeat;
}
.PerBattlePointsTable_rewards_2e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.PerBattlePointsTable_tableHeader_8a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40rem;
    color: #8c8c7e;
    font-size: 14rem;
}
.PerBattlePointsTable_label_f7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40rem;
    font-size: 14rem;
}
.PerBattlePointsTable_label__table_59 {
        justify-content: flex-start;
        color: #8c8c7e;
    }
.PerBattlePointsTable_base_b1 {
    display: flex;
    flex-direction: row;
    width: 403rem;
    padding-left: 28rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Gradient_devider') center top / 100% 40rem no-repeat;
    position: relative;
}
.PerBattlePointsTable_separators_ed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 403rem;
    position: absolute;
}
/* override*/
.PerBattlePointsTable_separator_ee {
    position: absolute;
    top: 80rem;
    left: 50%;
    transform: translateX(-50%);
}

.Points_base_fa {
    line-height: normal;
}
.Points_separator_52 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Devider_points') 50% / contain no-repeat;
}
.Points_rewards_d3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Points_base_fa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Points_points_9b {
    width: 520rem;
}
.Points_points__small_b8 {
        width: 490rem;
    }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.VehicleInfo_base_a9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: #c9c9b6;
    font-size: 15rem;
}

.VehicleInfo_vehicleName_02 {
    color: #ffa759;
    font-size: 15rem;
    text-shadow: 0 0 12rem rgba(255,48,0, .7);
}

.VehicleInfo_vehicleType_2e {
    width: 27rem;
    height: 17rem;
    margin: 4rem -2rem 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.VehicleInfo_vehicleType__elite_0e {
        width: 24rem;
        height: 24rem;
        margin: 2rem 0 0 -2rem;
    }

.VehicleInfo_levels_c7 {
    height: 16rem;
    margin-top: 3rem;
    background: center center / contain no-repeat;
}

.VehicleInfo_levels__1_03 {
        width: 9rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_1');
    }

.VehicleInfo_levels__2_e8 {
        width: 12rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_2');
    }

.VehicleInfo_levels__3_ab {
        width: 15rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_3');
    }

.VehicleInfo_levels__4_d1 {
        width: 16rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_4');
    }

.VehicleInfo_levels__5_53 {
        width: 14rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_5');
    }

.VehicleInfo_levels__6_db {
        width: 17rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_6');
    }

.VehicleInfo_levels__7_22 {
        width: 20rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_7');
    }

.VehicleInfo_levels__8_5f {
        width: 23rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_8');
    }

.VehicleInfo_levels__9_ad {
        width: 17rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_9');
    }

.VehicleInfo_levels__10_9b {
        width: 15rem;
        background-image: url('R.images.gui.maps.icons.levels.tank_level_10');
    }

.Special_base_df {
    line-height: normal;
}
.Special_separator_16 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Devider_points') 50% / contain no-repeat;
}
.Special_rewards_f6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Special_base_df {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
.Special_info_59 {
    display: flex;
    flex-direction: row;
    color: #8c8c7e;
    font-size: 16rem;
}
.Special_format_0a {
    margin-top: 6rem;
}
.Special_vehicle_b7 {
    margin: -10rem 4rem -10rem 0;
}
.Special_bonus_6d {
    margin-right: 4rem;
}
.Special_top_d1 {
    color: #e9e2bf;
    font-size: 16rem;
}

.Content_base_a8 {
    line-height: normal;
}
.Content_separator_a9 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Devider_points') 50% / contain no-repeat;
}
.Content_rewards_07 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass2020.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.Content_base_a8 {
    width: 520rem;
    padding: 28rem;
}
.Content_base__small_1d {
        width: 490rem;
    }
/* stylelint-disable */
[lang=ja],
[lang=ko],
[lang=zh_tw],
[lang=zh_sg],
[lang=zh_ch],
[lang=th] {
    overflow-wrap: break-word;
}
/* stylelint-enable */
.Content_subtitle_8d {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
}
.Content_subtitle__rules_60 {
        margin-bottom: 10rem;
    }
.Content_subtitle__vehicles_25 {
        margin-top: 20rem;
        margin-bottom: 4rem;
    }
.Content_footerSeparator_e7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 12rem;
}
.Content_footer_c8 {
    color: #cbac77;
    font-size: 14rem;
}

